<%- include("partials/header") -%>

<!-- About UPCYSE -->
<section id="about">
  <img class="img-about-sm" src="assets/images/IDemo2.jpg" alt="">
  <div class="container-fluid aboutus-container">
    <img class="img-about-lg" src="assets/images/IDemo2.jpg" alt="">
    <div class="col-lg-5 col-md-5 about-us-text">
      <h1 class="big-heading">Upcyse Delivers Unparalleled Property Management at an Industry-Low Cost</h1>
      <p> <strong> Upcyse outperforms traditional property managers by taking a modern approach to scale your short term rental property! Plus we don’t make money unless you are making money!</strong></p>
      <p> ▪️ Earn more revenue on your bookings with our world class marketing and <span class="about-indent">promotion to maximize your short-term rental’s potential</span> </P>
      <p> ▪️ Generate more clicks on your listings through our best-in-house photography <span class="about-indent">that captivates your property in the best light possible</span></p>
      <p> ▪️ Grasp a wider audience by expanding your listings not just on Airbnb but on <span class="about-indent">many more sites to obtain more traffic</span> </p>
      <p> ▪️ Help you choose your main team that will monitor and clean your property</p>
      <p> ▪️ Ready to maximize your short-term rental profits?</p>

      <div class="d-grid gap-2">
        <a href="contact"> <button type="button" class="btn btn-outline-light btn-lg nav-button about-btn border-dark"> <em>Contact Us to See How We Can Help</em></button></a>
      </div>
    </div>
  </div>

</section>

<!-- Services -->
<section class="white-section" id="services">
  <div class="container-fluid">
    <h1>Our Services</h1>
    <div class="row">

      <div class="feature-box col-lg-4">
        <i class="fa-solid fa-hand-holding-dollar fa-7x feature-imgs"></i>
        <h3 class="feature-title">Strategic Marketing</h3>
        <p>Our goal is to achieve the maximum potential of your property through generating more web traffic and funneling it back to your listing.</p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="fa-solid fa-camera-retro fa-7x feature-imgs"></i>
        <h3 class="feature-title">World-Class Photography</h3>
        <p>Nothing makes a property more appealing to a guest than stunning photos that grab their attention and make guests want to see your beautiful home for themselves.</p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="fa-solid fa-people-roof fa-7x feature-imgs"></i>
        <h3 class="feature-title">Keeping the Property Busy</h3>
        <p>Our focus is to keep guests coming through the door so that there is no wasted potential of your attractive rental property.</p>
      </div>
    </div>
  </div>
  <div class="White-section">
    <img class="press-logo" src="assets/images/airbnb.png" alt="airbnb-logo">
    <img class="press-logo" src="assets/images/vrbo.png" alt="vrbo-logo">
    <img class="press-logo" src="assets/images/expedia.png" alt="expedia-logo">
    <img class="press-logo" src="assets/images/google.png" alt="google-logo">
  </div>

</section>



<!-- Photo Slide Show -->

<section id="library">
  <div class="carousel-all">
    <div id="carouselLibraryIndicators" class="carousel-dark carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselLibraryIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselLibraryIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselLibraryIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselLibraryIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselLibraryIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselLibraryIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselLibraryIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselLibraryIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselLibraryIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
          <img src="assets/images/IDemo1.jpg" class="d-block w-100 h-75" alt="PhotoLibrary1">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="assets/images/IDemo3.jpg" class="d-block w-100" alt="PhotoLibrary2">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="assets/images/IDemo4.jpg" class="d-block w-100" alt="PhotoLibrary3">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="assets/images/IDemo5.jpg" class="d-block w-100" alt="interior4">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="assets/images/IDemo6.jpg" class="d-block w-100" alt="interior5">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="assets/images/IDemo7.jpg" class="d-block w-100" alt="interior6">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="assets/images/IDemo8.jpg" class="d-block w-100" alt="interior7">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="assets/images/IDemo9.jpg" class="d-block w-100" alt="interior8">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="assets/images/IDemo10.jpg" class="d-block w-100" alt="interior9">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselLibraryIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselLibraryIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

<!-- Personable Message -->
<section>
  <div class="cta container-fluid">
    <div class="row">
      <div class="cta-img col-lg-6">
        <img class="cta-image" src="assets/images/upcyse-wave.png" alt="logo2">
      </div>
      <div class="cta-text col-lg-6">
        <h2 class="cta-heading">Your Personal Property Manager</h2>
        <p>Let us at Upcyse handle all of the heavy lifting of managing your rental property on the top marketplaces like Airbnb, Vrbo, Expedia, and many more, while you earn. With our safe and secure approach of only making money when you are
          making money builds strong support for a professional relationship and gives us motivation to maximize your earning potential. Plus we market it like it's our own in hopes to accommodate as many guests as possible!</p>
        <div class="d-grid gap-2" id="cta-button">
          <button type="button" class="btn btn-outline-light btn-lg nav-button cta-btn border-dark"> <em>Get In Touch</em> </button>
        </div>
      </div>
    </div>

  </div>
  </div>
</section>


<!-- FAQ -->
<section class="white-section" id="faqs">
  <h1 class="faq-heading">Frequently Asked Questions</h1>
  <div class="faq-outer">
    <div class="faq-inner">
      <div class="accordion accordion-flush" id="accordionFlush">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              ◾ <strong> What Are Your Fees?</strong>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushLibrary">
            <div class="accordion-body">
              <p>We have a truly one-of-a-kind business model that minimizes the risk for our customers by promising no hidden fees, no upfront investment or cost, and a negotiable percentage-based commission system that helps both parties feel
                secure.</p>
              <p>Upcyse’s commission-based pricing structure means we only make money when you make money, which keeps us conditioned to maximize your earning potential. Our homeowners don’t stick around because they have to finish their
                contract—they stay because they have seen our impact and love the services they have received. </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              ◾ <strong> What Make Upcyse Different From Other Property Management Providers?</strong>
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushLibrary">
            <div class="accordion-body">
              <p>Upcyse is determined to make its mark in the short-term rental space. We strive to do this by completing the complex tasks of marketing/promoting your property and giving you the flexibility to decide who cleans and monitors your
                property to your liking. </p>
              <p>When it comes to management companies most will charge 30-50% of your rental income in exchange for providing you with their services. But as sad as it is, some management providers may not be well equipped to handle those tasks in
                this day and age. The average rental manager may lack the resources and expertise to promote your property most effectively. On top of this, there is the headache of having to deal with hidden fees and ridiculously high on-site
                commissions that may not even help with causing guests to book your rental. We are happy to promise a comfortable commission with none of the added headache!</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              ◾ <strong> How Will You Promote My Property To Travelers? </strong>
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushLibrary">
            <div class="accordion-body">
              <p>First and foremost, we will list your property on all major marketplaces for short-term rental properties such as Airbnb, Vrbo, Booking.com, and Google —but that is not what makes our promotion so effective. </p>
              <p>Almost anyone can create a listing. We strive to create listings with the goal of converting browsing travelers into paying guests. </p>
              <p>Every travel site has its own algorithm for determining which properties will be ranked higher up in the search results for a designated area. This can be a difficult process to beat but with our team working diligently to promote
                your listing’s performance by creating a professionally written and photographed listing whilst going through the daily tasks of analyzing and optimizing your listing. We have developed a method that is consistent and effective so you
                don't have to worry.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              ◾ <strong> How Do You Handle On-Site Home Services? </strong>
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushLibrary">
            <div class="accordion-body">
              <p>Our unparalleled flexibility is exemplified by our ability to offer on-site home services for your Airbnb guests. At Upcyse, we recognize that property owners are best equipped to manage their own properties. Therefore, we provide a comprehensive range of options for servicing your property, including self-service, utilizing your trusted partners, or collaborating with us to identify a trusted partner in the area.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
              ◾ <strong> How Do I Know If My Property Is a Good Fit For Upcyse? </strong>
            </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushLibrary">
            <div class="accordion-body">
              <p>At Upcyse, we take the quality of our guests' experience seriously. To ensure that we can provide the best possible service, we require that the properties we work with meet certain standards. These include safety, cleanliness, guest readiness, and accurate representation. We also ask that you keep your booking calendar up to date to prevent any potential conflicts. Finally, it's important that you have the appropriate approvals from your city to operate your property as a short-term rental.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
              ◾ <strong> How Do I Get Started? </strong>
            </button>
          </h2>
          <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushLibrary">
            <div class="accordion-body">
              <p>To begin your journey with Upcyse, we invite you to click any of the green buttons and send us a message about your current situation. This will help us determine if your property is a good fit for our services. If your property meets our requirements, we'll arrange a call with one of our expert Vacation Rental Advisors to guide you through the sign-up process. Our aim is to make the process as smooth as possible, and we'll work diligently to have you up and running in just two weeks, provided your property is ready for photography. We look forward to the opportunity to partner with you.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
